<body>
    <app-side-nav></app-side-nav>
    <div class="main">
        <h2>Opponent</h2>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    [(ngModel)]="opponent.name"
                    name="name"
                    />
            </div>
            <div class="form-group">
                <label for="height">Height</label>
                <input
                    type="text"
                    class="form-control"
                    id="height"
                    [(ngModel)]="opponent.heightInInches"
                    name="height"
                    />
            </div>
            <div class="form-group">
                <label for="weight">Weight</label>
                <input
                    type="text"
                    class="form-control"
                    id="weight"
                    [(ngModel)]="opponent.weightInLbs"
                    name="weight"
                    />
            </div>
            <div class="form-group">
                <label class="beltRankLabel" for="beltRank">Belt Rank</label>
                <select [(ngModel)]="opponent.beltRank" name="beltRank">
                    <option *ngFor="let beltRank of beltRanks" 
                            [value]="beltRank"> {{beltRankToLabelMapping[beltRank]}} </option>
                </select>
            </div>

            <div class="button-box">
                <button (click)="updateOpponent()" type="button" class="btn btn-primary">Update Opponent</button>
                <button type="button" class="btn btn-danger">Delete Opponent</button>
            </div>
        </form>
    </div>
</body>