<body>
    <app-side-nav></app-side-nav>
    <div class="main">
        <h2>Opponent</h2>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    [(ngModel)]="opponent.name"
                    name="name"
                    [disabled]="disablePageFlag ? true : null"
                    />
            </div>
            <div class="form-group">
                <label for="height">Height</label>
                <input
                    type="text"
                    class="form-control"
                    id="height"
                    [(ngModel)]="opponent.heightInInches"
                    name="height"
                    [disabled]="disablePageFlag ? true : null"
                    />
            </div>
            <div class="form-group">
                <label for="weight">Weight</label>
                <input
                    type="text"
                    class="form-control"
                    id="weight"
                    [(ngModel)]="opponent.weightInLbs"
                    name="weight"
                    [disabled]="disablePageFlag ? true : null"
                    />
            </div>
            <div class="form-group">
                <label class="beltRankLabel" for="beltRank">Belt Rank</label>
                <select [(ngModel)]="opponent.beltRank" name="beltRank"                     
                        [disabled]="disablePageFlag ? true : null">
                    <option *ngFor="let beltRank of beltRanks" 
                            [value]="beltRank"> {{beltRankToLabelMapping[beltRank]}} </option>
                </select>
            </div>
            
            <div class="button-box">
                <button [disabled]="disablePageFlag ? true : null"
                    (click)="createOpponent()" type="button" class="btn btn-success">Create Opponent</button>
                </div>
            
        </form>
    </div>
    <modal #modal [modalConfig]="modalConfig">
    </modal>
</body>
